/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CarsonJM/nf-proteinsimilarity Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    query_fasta     = null
    ref_db          = null
    ref_fasta       = null
    vmr_url         = null
    email           = null
    chunk_size      = 10000
    diamond_args    = "--masking none -k 1000 -e 1e-3 --very-sensitive"
    output          = null
    remove_tmp      = true
}

process {
    conda       = "environment.yml"
    container   = { "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/92/925ff7dfc1cce344c17d5d89cbe215d8f110afc7a475ed804261de10df71f45a/data' :
        'community.wave.seqera.io/library/diamond_pyrodigal-gv_seqkit_biopython_pruned:e3676938660403fe' }"
    }
    // Singularity: https://wave.seqera.io/view/builds/bd-ecf6860496b34c11_1?_gl=1*1pdqgk2*_gcl_au*NjY1ODA2Mjk0LjE3NjM0ODUwMTIuMTc1MTk1NzgyNi4xNzYzNDg1MDQwLjE3NjM0ODUwNDA.
    // Docker: https://wave.seqera.io/view/builds/bd-e3676938660403fe_1?_gl=1*5n8u8n*_gcl_au*NjY1ODA2Mjk0LjE3NjM0ODUwMTIuMTc1MTk1NzgyNi4xNzYzNDg1MDQwLjE3NjM0ODUwNDA.
    storeDir    = { "tmp/${task.process.toString().toLowerCase().replace("_", "/")}"}
}

manifest {
    name = 'uhvdb-proteinsimilarity'
    organization: 'UHVDB'
    contributors = [
        [
            name: 'Carson Miller',
            affiliation: 'University of Washington, Seattle, USA',
            email: 'carsonjm@uw.edu',
            github: 'CarsonJM',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-9861-4884',
        ]
    ]
    homePage        = 'https://github.com/CarsonJM/uhvdb-proteinsimilarity'
    description     = """UHVDBTk: """
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.2'
    version         = '0.0.1'
    doi             = ''
    license         = 'MIT License'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test_vmr { includeConfig "conf/test_vmr.config" }
    test_fna { includeConfig "conf/test_fna.config" }
}